
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

body {
  height: 100%;
  width: 100%;

  font-family: 'Wendy One', sans-serif;
}

#wrapper{
    position:fixed;
    left:0px;
    top:0px;
    
    width:100vw;
    height:100vh;

    background:#F7CA05;

    display:flex;
    justify-content:center;
    align-items:center;
    
}


h1{
    font-size:60px;
    
    
    
    text-shadow:-1px 10px 7px rgba(0,0,0,0.4),  0px -6.5px 1px white;

    letter-spacing:-2px;

    line-height:300px;

    
    color:#F7CA05;
}

#text{
   animation:shake1 0.3s linear infinite;
}

#icon{
    line-height:900px;

    -webkit-transform: scale(-1, 1); 
    -moz-transform: scale(-1, 1); 
    -ms-transform: scale(-1, 1); 
    -o-transform: scale(-1, 1); 

    transform: scale(-1, 1); 

    animation:shake2 0.3s linear infinite;
    
}


@keyframes shake1{
    20%{
        transform: translate(2.5px, 2px);
        
    }

    30%{
        transform: translate(2px, 2.5px);
    }

    70%{
        transform: translate(-2.5px, 2px);
    }

    100%{
        transform: translate(2px, -2.5px);
    }

}


@keyframes shake2{
    20%{
        transform: translate(2.5px, 2px) scale(-1, 1); 
        -webkit-transform: translate(2.5px, 2px) scale(-1, 1); 
        -moz-transform: translate(2.5px, 2px) scale(-1, 1); 
        -ms-transform: translate(2.5px, 2px) scale(-1, 1); 
        -o-transform: translate(2.5px, 2px) scale(-1, 1); 
        
    }

    30%{
        transform: translate(2px, 2.5px) scale(-1, 1); 
        -webkit-transform: translate(2px, 2.5px) scale(-1, 1);  
        -moz-transform: translate(2px, 2.5px) scale(-1, 1); 
        -ms-transform: translate(2px, 2.5px) scale(-1, 1); 
        -o-transform: translate(2px, 2.5px) scale(-1, 1); 
    }

    70%{
        transform: translate(-2.5px, 2px) scale(-1, 1); 
        -webkit-transform: translate(-2.5px, 2px) scale(-1, 1); 
        -moz-transform: translate(-2.5px, 2px) scale(-1, 1); 
        -ms-transform: translate(-2.5px, 2px) scale(-1, 1); 
        -o-transform: translate(-2.5px, 2px) scale(-1, 1); 
    }

    100%{
        transform: translate(2px, -2.5px) scale(-1, 1); 
        -webkit-transform: translate(2px, -2.5px) scale(-1, 1); 
        -moz-transform: translate(2px, -2.5px) scale(-1, 1); 
        -ms-transform: translate(2px, -2.5px) scale(-1, 1); 
        -o-transform: translate(2px, -2.5px) scale(-1, 1); 
    }

    
}